body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
p{
    color: gray;
}
h1, h2, h3{
    color: #262626;
    margin: 0px;
}
img{
    width: 100%;
}
.header-area{
    background-image: url(images/header-bg.png);
}
.header-area, .biography-area, .client-area{
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
    background-position: left;
}
.container{
    width: 1100px;
    margin: 0 auto;
    padding: 100px 0px;
}
.col{
    width: 45%;
    float: left;
}
.header-text, .biography-text{
    padding-top: 200px;
}
.pink-color{
    color: #ec4c7a;
}
.btn{
    margin-top: 20px;
    display: inline-block;
    background-image: linear-gradient(45deg,#ec5298, #ed4b6f);
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    border-radius: 5px;
}
.font-reg{
    font-weight: 500;
}
.biography-area{
    background-image: url(images/biography-bg.png);
}
.biography-text{
    padding-left: 100px;
}
.work-area{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-position: right top;
}
.sm-col{
    width: 30%;
    float: left;
    padding: 1%;
    margin-top: 50px;
}
.text-center{
    text-align: center;
    font-weight: 500;
}
.text-white{
    color: #fff;
}
.mb{
    margin-bottom: 100px;
}
.mt{
    margin-top: 100px;
}
.client-area{
    background-image: url(images/footer-bg.png);
}
.email-area{
    background-image: linear-gradient(45deg,#ec5298, #ed4b6f);
    width: 60%;
    padding: 30px;;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 100px;;
}